
/*Grid*/

#wrapper {
    display: grid;
    grid-template-areas: "s_about s_about"
                         "s_foto_seccion1 s_text_seccion1"
                         "s_foto_seccion2 s_text_seccion2"
                         "s_portfolio s_portfolio";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    
}

#wrapper_about {
    display: grid;
    grid-template-areas: "intro_about intro_about"
                         "about_s1 about_s2"
                         "about_s3 about_s3"
                         "about_s4 about_s5";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}


/*Footer*/

.footer_container {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #96ACB7;
    height: 120px;
    padding: 30px 0;
}

.footer_column_left {
    color: #fff;
}

.footer_column_right {    
    font-size: 25px;
    color: #fff;
}  

.footer_column_right i{
    padding: 0 15px;
}

.footer_column_right i:hover{
    color: #f26800;
}


/*Secciones y elementos*/

.about_container {
    grid-area: s_about;
    grid-column-start: 1;
    grid-column-end: 3;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-color: #f6f6f6;
}


.about_content {
    width: 50%
        
}

.about_intro_text {
    grid-area: about_s2;    
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100%;
    background-color: #96acb7;
      
}

.about_intro_text article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;    
    height: auto;
    width: 60%;

}

.about_intro_foto {
    grid-area: about_s1;
    width: 50vw;
    height: 100%;
    background: url(../img/seccion-about.jpg);
    background-position: center;
    background-size: cover;
}    

.about_s3_container {
    grid-area: about_s3;
    background: #151515;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 80px 0;   
}

.about_s4_foto {
    grid-area: about_s4;
    height: 100%;
    width: 50vw;
    background: url(../img/about_s1.jpg);
    background-position: center;
    background-size: cover;
}

.about_s5_text {
    grid-area: about_s5;    
    height: 100%;
    display: flex;
    justify-content: center;

}

.about_s5_text article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    align-self: center;

}

.button_medium {
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 115px;
    padding: 10px 50px;
    margin: 50px 0 0 0;
    border: 2px solid #000;
    border-radius: 20px;
}

.button_medium:hover {
    background-color: #f26800;
    border: 2px solid #f26800;
}

.button_medium a {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
    
}

.button_medium a:hover {
    color: #fff;
    font-weight: bold;
}

.gallery_grid {
    background: #f2b7c6;
}

.gallery_grid div {
    padding: 20px 0 20px 0;
    transform: scale(1.0,1.0);
    transition: all 1s;
}

.gallery_grid div:hover {
    padding: 20px 0 20px 0;
    transform: scale(1.05,1.05);
    transition: all 1s;
}

.parallax_about {
    grid-area: intro_about;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/parallax_intro_about.jpg);
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax_about h1 {
    color: #f2b7c6;
    font-weight: 600;
}

.parallax_intro {
    height: 600px;
    background-image: url(../img/seccion-parallax.jpg);
    background-position:bottom;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;    
}

.parallax_portfolio {
    background: url(../img/area-portfolio.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}


.portrait_container {
    grid-area: s_foto_seccion1;
    background: url(../img/picture-lab.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
    height: 500px;
              
}


.portrait_text {
    grid-area: s_text_seccion1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #34675C;
    color: #f6f6f6;
    
}

.portrait_text_content {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.portrait_2_container {
    grid-area: s_foto_seccion2;
    background: url(../img/s_foto_seccion2.jpg);
    background-size: cover;
    background-position: center;
    width: 50vw;
    height: 500px;
}

.portrait_2_text {
    grid-area: s_text_seccion2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;

}

.portrait_2_text article {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
}

.portfolio_intro {
    background: url(../img/area-portfolio.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin-top: -3px;
    color: #f2b7c6;    
}

.portfolio_preview {
    grid-area: s_portfolio;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2b7c6;
    padding: 50px 0;
}

.portfolio_preview img {
    width: 350px;
}


ol {
    list-style-type: upper-roman;
    list-style-position: inside;
}

.title_area {
    text-align: center;
    padding: 50px 0;
}

/* Animaciones CSS en Index*/
 
.about_content {
    animation: fadeInDown;
    animation-duration: 3s;
}

.about_intro_text {
    animation: slideInRight;
    animation-duration: 3s;    
    transition: all 2s;
    z-index: 97;
}

.about_intro_text:hover {    
    transition: all 2s;
    z-index: 98;
    background: #151515;
    color: #fff;
}

.about_s5_text {
    transition: all 2s;
}

.about_s5_text:hover {    
    transition: all 2s;
    z-index: 98;
    background: #151515;
    color: #fff;
}

.button_medium {
    animation: fadeInDown;
    animation-duration: 3s;
    transition: all 0.5s;
    
}

.button_medium:hover {
    transform: scale(1.1,1.1);
    transition: all 0.5s;
}

.portrait_container {
    animation: slideInLeft;
    animation-duration: 3s;
    transform: scale(1.0,1.0);
    transition: all 3s;
    z-index: 97;
    
}

.portrait_container:hover {
    transform: scale(1.2,1.2);
    transition: all 3s;
    z-index: 98;
    

}
.portrait_text {
    animation: slideInRight;
    animation-duration: 3s;    
    transition: all 2s;
    z-index: 97;
}

.portrait_text:hover {    
    transition: all 2s;
    z-index: 98;
    background: #d4e4bc;
    color: #000;
}

.portrait_2_container {
    animation: fadeInLeft;
    animation-duration: 3s;
    transform: scale(1.0,1.0);
    transition: all 2s;
}

.portrait_2_container:hover{
    transform: scale(1.1,1.1)
               translate(30px,0px);
    transition: all 3s;
    z-index: 98;
}

.portrait_2_text {
    animation: fadeInDown;
    animation-duration: 4s;
    color: #000;
    background: #fff;
    transition: all 1s;       
}

.portrait_2_text:hover {
    color: #ffffff;
    background: #151515;
    transition: all 1s;

}

.portfolio_preview {
    animation: fadeInUp;
    animation-duration: 4s;
    transition: all 1.5s;
}

.portfolio_preview:hover {
    background: #dd9296;
    transition: all 3s;
    
}

.portfolio_preview div {
    transform: scale(1.0,1.0);
    transition: all 2s;
}

.portfolio_preview div:hover {
    transform: scale(1.2,1.2);            
    transition: all 2s;  
}


/* Definiciones Responsive */

@media screen and (min-width:768px) and (max-width: 1024px) {

    /*Definiciones en index*/

    #wrapper {
        grid-template-areas: "s_about s_about"
                             "s_foto_seccion1 s_foto_seccion1"
                             "s_text_seccion1 s_text_seccion1"
                             "s_foto_seccion2 s_foto_seccion2"
                             "s_text_seccion2 s_text_seccion2"      
                             "s_portfolio s_portfolio";
        grid-template-columns: 1fr 1fr;
        
    }

    .about_container {
        height: 500px;
    }

    .portrait_container {
        grid-column: 1/3;
        width: 100vw;
        height: 500px;
        background-position: center;
    }

    .portrait_text {
        grid-column: 1/3;
        height: 500px;
    }

    .portrait_2_container {
        grid-column: 1/3;
        width: 100vw;
                
    }
        
    .portrait_2_text {
        grid-column: 1/3;
        width: 100vw;
        height: 300px;
    
    }
    
    .portrait_2_text article {
        width: 70%;
    }

    .portfolio_preview {
        flex-direction: column;
        height: 900px;
    }

    /*Fin de definiciones en index*/
}

@media screen and (min-width:480px) and (max-width: 768px) {
  
    /*Definiciones en index*/ 

    header {
        width: 100%;
        
    }
    
    .parallax_intro {
        width: 100%;
    }

    .portfolio_preview {
        flex-direction: column;
        height: 900px;
    }    

    .portfolio_preview img {
        width: 320px;
    }

    .portrait_container {
        width: 100vw;
        grid-column: 1/3;
    }

    .portrait_text {
        grid-column: 1/3;
    }
    
    .portrait_2_container {
        grid-column: 1/3;
        width: 100vw;
                
    }
        
    .portrait_2_text {
        grid-column: 1/3;
        width: 100vw;
        height: 300px;
    
    }
    
    .portrait_2_text article {
        width: 70%;
        
    }

    #wrapper {
        grid-template-areas: "s_about s_about"
                             "s_foto_seccion1 s_foto_seccion1"
                             "s_text_seccion1 s_text_seccion1"
                             "s_foto_seccion2 s_foto_seccion2"
                             "s_text_seccion2 s_text_seccion2"      
                             "s_portfolio s_portfolio";
        grid-template-columns: 1fr 1fr;
       
        

    }

    /*Fin de definiciones en index*/

    /*Definiciones en pagina about us*/

    #wrapper_about {
        grid-template-areas: "intro_about intro_about"
                             "about_s1 about_s2"
                             "about_s3 about_s3" 
                             "about_s4 about_s5";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }

    .about_intro_foto {
        width: 50vw;
        height: 100%;
    }

    .about_intro_text {
        width: 50vw;
        height: 100%;
    }

    .about_intro_text article {
        height: 250px;
    
    }

    .about_s4_foto {
        height: 100%;
        width: 50vw;
    }

    .about_s5_text {
        height: 100%;
        width: 50vw;
    }
   
    
}


@media screen and (max-width: 480px) { 
    
    /*Definiciones en index*/

    header {
        flex-direction: row;
        align-items: center;
        height: 120px;
        width: 100vw;
        padding: 0 10px;       
    }

    .header__menu {
        flex-direction: column;
        align-items: center;
    }

    #wrapper {
        grid-template-areas: "s_about"
                             "s_about"
                         "s_foto_seccion1"
                         "s_text_seccion1"
                         "s_foto_seccion2"
                         "s_text_seccion2" 
                         "s_portfolio"
                         "s_portfolio";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

    }

    .about_container {
        width: 100vw;
        height: 100%;
    }

    .about_content {
        width: 90vw;        
    }

    .portrait_container {
        width: 100vw;
        height: 400px;
        background-position: center;
    }

    .portrait_text {
        width: 100vw;        
    }

    .portrait_text_content {
        width: 80%;
    }

    .portrait_2_container {
        width: 100vw;        
    }
    
    .portrait_2_text {
        width: 100vw;
        height: 500px;
    
    }
    
    .portrait_2_text article {
        width: 70%;
        
    }
    
    .portfolio_preview {
        flex-direction: column;
        align-content: space-around;        
        height: 900px;
    }

    .portfolio_preview img {
        width: 300px;
    }

    .parallax_intro {
        background-position: bottom right;
    }

    .footer_container {
        flex-direction: column;        
        align-items: center;
        height: 30vh;        
    }

    .footer_column_right {
        padding-top: 30px;
    }

    /*Fin de definiciones en index*/

    /*Definiciones en pagina about us */
    
    #wrapper_about {
        grid-template-areas: "intro_about"
                             "intro_about"
                             "about_s1" 
                             "about_s2"
                             "about_s3" 
                             "about_s3"
                             "about_s4" 
                             "about_s5";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }

    .about_intro_foto {
        width: 100vw;
        height: 500px;
    }

    .about_intro_text {
        width: 100vw;
        height: 500px;
    }

    .about_intro_text article {
        height: auto;
        width: 80vw;
    
    }
        
    .about_s4_foto {
        height: 500px;
        width: 100vw;
    }

    .about_s5_text {
        height: 500px;
        width: 100vw;
    }

}

